/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* style header*/


.banniere {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
}

.banniere2 {

    display: flex;
    justify-content: flex-end;
    gap: 100px;
    margin-top: 5px;
  
}


nav a {


    border-top: solid 1px transparent;
    }
    
    
    nav a:hover {
    
    
    border-top: solid 1px royalblue;
    color: royalblue;
    padding-top: 13px;
    margin-top: -13px;
    }
    

nav img {

    width: 60px;
    margin-top: 15px;
}


/* fin style header*/

h1 {

    margin-bottom: -5px;
    font-size: 1.3em;
}

p {

    margin-bottom: 30px;
    font-size: 0.9em;
}

/** formulaire de recherche ****/


form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
 
    
}



 #lieu {
    border: 1px #F2F2F2 solid;
    border-right: none;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    width: 130px;
    font-size: 1em;
 }




form .fa-solid {

    color: black;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: solid #F2F2F2;
    padding: 9.8px;
    text-align: center;
    width: 15px;
    color: black;
  
   
    
}

.lieu2 {
    background-color: #0065FC;
    color: white;
    border: solid 1px #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 8.5px;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 18px 10px 18px;
    
}

.lieu3 .fa-solid {
    background-color: #0065FC;
    color: white;
    border: solid 1px #0065FC;
    border-radius: 17px;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.2);
     padding: 18px;
    display: none;
}

/**fin formulaire de recherche**/

/** début style Filtres**/



.filtre {

    display: flex;
    flex-direction: row;
}

.filtre a {

    border-radius: 30px ;
    border: solid #d9d9d9 1px;
    font-weight: bold;
    padding: 13px; 
    
}

.liensfiltre {

    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filtre h2 {

    margin-right: 15px;
    font-size: 1em;
}

.filtre .fa-solid {

  margin-right: 10px;
}

.filtre a:hover {

    background-color: #DEEBFF;
    cursor: default;
    
}

/** fin style Filtres **/

.information .fa-solid {

    border-radius: 60px;
    border: #d9d9d9 solid 1px;
    font-size: 0.7em;
    padding: 5px 8px 5px 8px;
    margin-right: 6px;
  
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.activites {

    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;


}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
}

.hebergements img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 120px;
}

.rangee1 {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    }
    
.rangee2 {
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.rangee1 a, .rangee2 a {
    width: 30%;
}

 .afficherplus {
   display: flex;
   justify-content: flex-start;
   margin-top: 30px;
   margin-bottom: -35px;
    
}

.hebergements .card {
    height: 100%;
}
    
.hebergements .card-rating {
     margin-top: -27px;
     margin-left: 8px;
    }
        
 .hebergements .card-title {
    margin-top: 4px;
    margin-left: 8px;
    }
        
        
.hebergements .card-subtitle {
    margin-top: -2px;
    margin-left: 8px;
    }

.hebergements .section-title {
     margin-bottom: 30px;
     font-size: 1.3em;
     margin-top: 5px;
}
        
 
/****** Populaires ***********/
.populaires {
    width: 32%;
    }

.populaires .section-title {

    
     font-size: 1.3em;
     margin-top: 5px;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards {

    flex-wrap: wrap;
}

/********* Activités ********/





.activites-cards {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

.activites-cards a {
    flex: 1;
}

.activites-cards a article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.activites {

    margin-top: 60px;
    
}

.activites .section-title {

    margin-bottom: 40px;
}


.card1 .card-title {

    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;;
    padding: 15px;
    margin-top: -4.5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex: 1;
    align-items: center;
}




/***** Footer ****/

footer {

    background-color: #F2F2F2;
    margin-top: 40px;
    margin-bottom: -10px;
}

footer h3 {

    margin-bottom: 10px;
    padding-left: 5px;
}

.liens-footer {

    display: flex;
    flex-direction: row;
    gap: 280px;
    padding-left: 20px;
}

.footer1 {

    padding-bottom: 10px;
}


.liens-footer a {

display: block;
padding: 7px;
}

 


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }


    body {

        margin-left: 0;
        margin-right: 0;
    }




    /********Hébergements *******/

   .hebergements {

    width: 100%;
   }

   
   .afficherplus {
    margin-bottom: 1px;
   }


    .hebergements img {

        max-width: 100%;
        max-height: 100%;
    }


/*******Populaires *****/

   
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-title {

        margin-top: -10px;
        margin-bottom: -15px;
    }
  
/******* Activités *******/





.activites-cards img{

    display: flex;
    flex-direction: row;
    height: 190px;
    justify-content: center;

}

.activites-cards .card-title {

   
    box-sizing: border-box;
        height: 70px;
        padding-top: 15px;
       
    
}



    .liens-footer {
    gap: 130px;
    display: flex;
    justify-content: flex-start;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */



.main-container {

    padding: 0;

}



h1 {
   padding-left: 15px;
   font-size: 1.5em;
   display: flex;
   justify-content: flex-start;
}

.soustitre {

    font-size: 1em;
    padding: 0;
}

form {

    padding-left: 15px;
}



.soustitre {

    padding-left: 15px;
}

.banniere {

        display: flex;
        flex-direction: column;
        align-items: center;
    }


.banniere2 {
    margin-top: 40px;
    border-bottom: solid 1px #d9d9d9;
    width: 100%;
    gap: 0;
}


nav a {

width: 50%;
gap: 0;
text-align: center;
padding-bottom: 10px;

}


      
nav a:hover {
border-top-color: transparent;
    border-bottom: solid 1px #0065FC;
    margin-bottom: -1px;
    
}



.lieu2 {

    display: none;
}


.lieu3 .fa-solid {

    display: block;
    font-size: 1em;
    margin-left: -12px;


   
}

form #lieu {

    padding: 15px;
    font-size: 1.1em;
    flex: 1;
    width: 80%;

}

form .fa-solid {
padding: 15px;
font-size: 1.1em;
}

form {

margin: 0;
padding-right: 15px;

}

.filtre{
    
display: flex;
margin-left: 10px;
flex-direction: column;

}

.liensfiltre {
   width: 45%;
   justify-content: center;

}

.filtre h2 {

    margin-left: 8px;
}
.filtre a {

    display: flex;
    font-size: 0.9em;
    margin-right: 0px;
    flex: 1;

}

.information p {

        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
      }


/**** fin top *****/



.hebergements-and-populaires .hebergements {

    background-color: white;
    
}

.hebergements-and-populaires .populaires {

border-radius: 0;
display: flex;
flex-direction: column;
}

.populaires a {

    width: 100%;
}

.hebergements .rangee1 {

    max-width: 100%;
}

.hebergements .card {

    width: 100%;
    height: 100%;
    
}

.rangee1 {

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rangee2 {

    display: flex;
    flex-direction: column;
    gap: 20Px;
    
}

.rangee1 a {
    width: 100%;

}

.rangee2 a {
    width: 100%;
    
}


.populaires-cards{

    display: flex;
    flex-direction: column;

    
}


.hebergements-and-populaires {
 flex-direction: column-reverse;
 }

/**** Activités */

.activites .section-title {

    margin-left: 5px;
}

.activites-cards{

    display: flex;
    flex-direction: column;
}

.activites-cards img {

    width: 100%;

}

.activites-cards .card-title {

    width: 100%;
   
    
}





.liens-footer {

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 50px;

}

}